@model IEnumerable<ProductModel>

<div class="menu">
    <hr class="highlight">
    <ul class="menu-list">
        @if (Model != null && Model.Any())
        {
            @await Component.InvokeAsync("CategorySubs", new { categoryId = Model.FirstOrDefault()?.CategoryId })
        }
        else
        {
            <li class="list-group-item">Không có sản phẩm nào</li>
            <li><a href="javascript:history.back()">Quay về</a></li>
        }
    </ul>
</div>



<!-- Start Single Sidebar Widget -->
<div class="sidebar-single-widget">
    <h6 class="sidebar-title">Thương hiệu</h6>
    <div class="sidebar-content">
        <div class="filter-type-select">
            <ul>
                <vc:brands></vc:brands>
            </ul>
        </div>
    </div>
</div>