@model IEnumerable<ProductModel>

<div class="menu">
    <h3>DANH MỤC</h3>
    <hr class="highlight">
    <ul class="menu-list">
        @foreach (var categorySubName in Model.Where(p => p.CategorySub != null).Select(p => p.CategorySub.Name).Distinct())
        {
            <li>
                <a asp-action="IndexWithCate" asp-controller="Product" asp-route-cate="@categorySubName">@categorySubName</a>
            </li>
        }
    </ul>
</div>


<!-- Start Single Sidebar Widget -->
<div class="sidebar-single-widget">
    <h6 class="sidebar-title">Thương hiệu</h6>
    <div class="sidebar-content">
        <div class="filter-type-select">
            <ul>
                <vc:brands></vc:brands>
            </ul>
        </div>
    </div>
</div>

